

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'TT Lakes Medium';
        src: url('../fonts/TTLakes-Medium.eot');
        src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
    @font-face {
            font-family: 'TT Lakes Bold';
            src: url('../fonts/TTLakes-Bold.eot');
            src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/TTLakes-Bold.woff') format('woff'),
            url('../fonts/TTLakes-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            }


 
 body{
    background-color: #F8F8F8;
    font-family: 'TT Lakes Medium';
    font-weight: normal;
    font-style: normal;
    min-width: 320px;
 }





 /*---------header--------*/

 

 .header__wrapper{
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom:24px;
 }
 .menu__nav{
    padding:17.59px 16px 17.59px 16px;
    display:flex;
    justify-content: space-between;
    gap:16px;
 }
.menu__nav_left{
    display: flex;
    align-items:center;
    gap:20px;
    justify-content: start;
 }

 .menu__nav_right{
    display:flex;
    align-items:center;
    gap:20px;
 }
 .divider-1{
    width:2px;
    height:32px;
    border-radius: 1px;
    background: #EAEAEA;
 }
 .divider-2{
    width:2px;
    height:32px;
    border-radius: 1px;
    background-color: #EAEAEA;
 }
 
 .divider-1,.call,.chat,.profile{
  display: none;
 }


/*--------title-menu---------*/

.main__wrapper{
padding-right:32px;
height:40px;

}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    max-height:40px;
}
.title__part_left{
    display: flex;
    align-items: center;
    min-width:300px;
    gap:2vw;
}
.hightlighter{
    white-space: nowrap;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.title__name{
    min-width: 233px;
    color: #1B1C21;
    font-family: 'TT Lakes Bold';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.title__part_right{
    display: flex;
    gap: 32px;
    display:none;
}
.title__button{
    display: flex;
    align-items: center;
    gap:8px;
    background-color: #F8F8F8;
}
.title__button-text{
color: #1B1C21;
text-align: right;
font-family: 'TT Lakes Medium';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.2px;
}




/*---------main-slide-------*/
.main{background-color: #F8F8F8;
}
.main__nav{
    height:40px;
    padding-left:16px;
   margin-bottom:57px;
}
.main__nav-list{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: space-between;
    
}
.main__nav-list::-webkit-scrollbar {
    width: 0;
  }
.menu__nav-item{
    border: 1px solid black;
}
.main__nav-button{
    background-color: #F8F8F8;
    white-space: nowrap;
    text-align: center;
    padding:8px 16px 8px 16px;
    color: #7E7E82;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
.main__nav-button:hover{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
}

/*--------------about-info-----------*/

.info__about-us{
    padding-left:15px;
    padding-bottom: 16px;
}
.info__about-us_text{
    height:90px;
    overflow: hidden;
    margin-bottom: 16px;
}
.info__button{
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
}
.info__img{
    min-width:100%;
    height:auto;
}




@media(min-width:540px) and (max-width:768px){
    .divider-1,.call,.chat,.profile{
        display: block;
       }
       .info__block{
       display: flex;
       }
       .info__img{
        min-width:50%;
        height:auto;
       }
      
}
@media(width>=768px) {
    .wrapper{padding-top:42px;}
    .header__wrapper{display: none;}
    .info__block{
        display: flex;
        gap:36px;
        }
        .info__img{
         min-width:50%;
         height:auto;
        }
        .title__part_right{
            display: flex;
        }
        .main__nav-list{
            flex-wrap: wrap;
        }
}